{% extends 'emails/base_email.html' %}

{% block content %}
<h2>Добро пожаловать!</h2>
<p>Здравствуйте, {{ user.first_name }} {{ user.last_name }}!</p>

<p>Спасибо за регистрацию в нашей системе автоматизации закупок.</p>

<p>Для завершения регистрации, пожалуйста, подтвердите ваш email адрес, используя код подтверждения:</p>

<div class="order-details">
    <h3>Код подтверждения:</h3>
    <p style="font-size: 18px; font-weight: bold; color: #007bff;">{{ token }}</p>
</div>

<p>Введите этот код в форме подтверждения регистрации на сайте.</p>

<p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это письмо.</p>

<p>С уважением,<br>
Команда поддержки</p>
{% endblock %}
